@import url("styles/header.css");
:root{
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--fonte-principal: "Poppins";
--fonte-secundaria: "Josefin Sans";
}
...
@media screen and (min-width: 1024px) {
    /* ...propriedades css... */
    }
    :root{
        --cor-de-fundo: #EBECEE;
        --branco: #FFFFFF;
        --amarelo: #FECD2F;
        --roxo-degrade:
        
        linear-gradient(94.49deg, #733887 35.48%, #C75EEB 143.32%);
    }
    .cabeçalho__menu-hamburguer{
        width: 24px;
        height: 24px;
        background-image: url("../img/Menu.svg");
        display: inline-block;
        }
        
        .cabeçalho{
        background-color: var(--branco);
        }
        .opções{
            display: none;
        }
        @media screen and (min-width: 1024px) {
            .container__titulo{
            font-family: var(--fonte-secundaria);
            font-size: 30px;
            font-weight: 400;
            display: block;
            }
            .container__titulo--negrito{
            font-weight: 700;
            }
            ...
            .container__titulo{
            display: none;
            }
            :root{
                --preto: #000000;
            }
