@import url("styles/header.css");

:root{
    --cor-de-fundo: #fac3ff;
    --branco: #c588e9;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --amarelo: #EFCD2F;
    --roxo: #ac78ba;
    --preto: #000000;
}
body{
    background-color: var(--cor-de-fundo);
}
h1{
    background-color: rgb(185, 130, 229);
}
